BODY { background: #a3a3c5; color: black}
P { font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
        font-weight: bold }
H1 { font-family: Arial, Helvetica, sans-serif;
        font-size: 16pt;
        font-weight: bold }
H2 { font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
        font-weight: bold }
H3 { font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
        font-weight: bold }
P.indent { font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
        font-weight: bold;
        margin-left: 20 }
A:link { color: #0000aa }
A:visited { color: #aa0000 }
A:active { color: black }
