@charset "UTF-8";
#mainwrapper header {
	background-color: rgba(137,137,137,1.00);
	overflow: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
}
#mainwrapper header #logo {
	width: 17%;
	float: left;
	padding-left: 2%;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: xx-large;
	font-style: bold;
    color: rgba(200,220,255,1.00);
}
#mainwrapper header #logo a {
    color: rgba(200,220,255,1.00);
    text-decoration:none;
}
#mainwrapper header #book {
	width: 60%;
	float: left;
	padding-left: 2%;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: xx-large;
	font-style: bold;
	color: rgba(255,255,255,1.00);
}
#mainwrapper header #book a {
    color:white;
    text-decoration:none;
}
#mainwrapper header nav {
	/*Nav bar containing links in header */
	width: 17%;
	text-align: right;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 2%;
	float: right;
    color: rgba(200,220,255,1.00);
}
header nav a {
	/* Links in header */
    color: rgba(200,220,255,1.00);
    text-decoration:none;
	padding-right: 2%;
}
/* Defaults for the main content. */
#mainContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgba(20,11,11,1.00);
	padding-left: 2%;
	width: 71%;
	float: left;
	padding-right: 2%;
	margin-top: 20px;
	padding-top: 0px;
}
#mainContent h1, #mainContent h2, #content #mainContent h3 {
	/* Styling for main headings */
	color: rgba(62,23,23,1.00);
	font-style: bold;
	background-color: rgba(237,237,237,1.00);
}
#bannerImage {
	width: 100%;
}
#mainContent #abstract {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(237,237,237,1.00);
}
#sidebar, #about {
	width: 19%;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
	background-color: rgba(137,137,137,1.00);
	color: rgba(255,255,255,1.00);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 20px;
}
#sidebar, #about p {
    font-size: 0.9em;
}
#sidebar {
	padding-top: 20px;
}
#mainwrapper {
	/* Container of all content */
	width: 80%;
	overflow: auto;
	margin-left: 10%;
}
nav ul li {
	list-style-type: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
nav ul {
	padding-left: 0%;
}
nav ul li a {
	color: rgba(51,39,39,1.00);
	text-decoration: none;
}
#footerbar {
	/* Footer bar at the bottom of the page */
	height: 20px;
	clear: both;
	background-color: rgba(208,207,207,1.00);
	width: 100%;
}
footer {
	/* Container for footer artices */
	width: 71%;
	padding-left: 2%;
	padding-right: 2%;
}
#mainContent #bannerImage img {
	/* Actual banner image */
	width: 100%;
}
#sidebar img {
	/* Image in sidebar */
	width: 100%;
}
/* Table of contents. */
#mainwrapper .contents {
    counter-reset: part;
    margin-bottom: 20px;
}
#mainwrapper .contents h1:before {
    content: counter(part) ". ";
    counter-increment: part;
    counter-reset: chapter;
}
#mainwrapper .contents h1 {
    padding: 10px;
}
.contents .chapter:before {
    content: counter(part) "." counter(chapter) ". ";
}
.contents .chapter {
	margin-left: 5%;
    counter-increment: chapter;
	font-size: 1.2em;
	margin-top: 2%;
}
.contents .chapter .author {
    display: inline;
	font-style: italic;
}

/* Tablet view */
@media screen and (max-width:769px) {
.notOnDesktop {
/* Search box shown only in mobile view and Tablet view */
	display: block;
	text-align: right;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 96%;
}
#mainContent {
	/* Container for the blog post */
	padding-top: 0px;
	float: none;
	width: 96%;
}
#mainwrapper #content #sidebar {
	/* Sidebar*/
	float: none;
	width: 92%;
	padding-top: 13px;
	overflow: auto;
	margin-top: 3px;
	margin-left: 2%;
	padding-bottom: 13px;
}
#content #sidebar nav {
	/* Navigation links in sidebar */
	width: 36%;
	float: left;
	padding-left: 4%;
}
#sidebar nav ul {
	margin-top: 0px;
}
footer {
	/* Footer region */
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}
#content footer article {
	/*Each footer article */
	width: 46%;
}
#mainwrapper header {
	/* Header */
	width: 100%;
}
}

/* Mobile view */
@media screen and (max-width:480px) {
#mainwrapper header #logo {
	width: 96%;
	margin-left: 2%;
}
#mainwrapper header #book {
	width: 96%;
	margin-left: 2%;
}
#mainwrapper header nav {
	text-align: center;
	background-color: rgba(255,255,255,1.00);
    color: rgba(100,120,155,1.00);
	width: 98%;
}
#mainwrapper header nav a {
    color: rgba(100,120,155,1.00);
}
#mainwrapper #content #sidebar {
	padding-bottom: 0px;
	margin-left: 0;
	padding-left: 2%;
	padding-right: 2%;
	width: 98%;
}
#mainwrapper #content #about {
	padding-bottom: 0px;
	width: 98%;
}
#content .notOnDesktop {
	/* Search box shown only in mobile and tablet view */
	width: 100%;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}
#content #mainContent h3 {
	/* Title under maincontent, if any */
	font-size: 14px;
}
#sidebar img {
	/* Image in sidebar */
	width: 98%;
}
}
.header {
}

.footnote {
	font-size: 0.875em;
}
.references {
	font-size: 0.875em;
}
